<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTf-8" />
    <title>Keep clam And Carry On</title>
  </head>
  <body style="background-color:red">
  <div style="border:2px solid white;
              width:80%;
              color:white;
              text-align:center">
       <img
           style="width=33%;
                  display:block;margin:0 auto;"
        src="https://cdn.glitch.com/3423ef17-ee39-4ace-9398-a7fab3eacc05%2Fcrown.png?v=1582673918796"
        alt="crown"
      />
      <p style="font-size:8em; style"
         text-transtorm:upper case;>
        word-break:break-word;
        margin:
        Keep Clam And Carry On
      </p>
    </div>
  </body>
</html>
